<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Travel APP</title>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header__top">
				<div class="header__logo">
					<p class="logo">Bahodir Media</p>
				</div>
				<nav class="header__nav">
					<ul class="header__menu">
						<li><a data-modal="modal-one"  class="header__link">Instructions</a></li>
						<li><a href="" class="header__link">About</a></li>
					</ul>
				</nav>
			</div>
			<div class="modal" id="modal-one">
        <div class="modal-bg modal-exit"></div>
        <div class="modal-container">
          <h1>Welcome to application</h1>
          <p>Please fill the inputs insert the name of the city which you are going.</p>
          <a class="modal-close modal-exit">Close</a>
        </div>
      </div>
		</div>
	</header>
	<main class="main">
		<div class="container main__container">
			<h1 class="main__title">Plan your journey with us</h1>
			<div class="row">
				<div class="col-xl-3">
					<form class="form" onsubmit="return Client.handleSubmit(event)">
						<label for="from" class="form__label">Where do you start the journey</label>
						<input id="from" class="form__input" type="text" name="input" value="" placeholder="From"
							onfocus="this.value=''">
						<label for="to" class="form__label">Where are you going?</label>
						<input id="to" class="form__input" type="text" name="input" value="" placeholder="To"
							onfocus="this.value=''">
						<label for="date" class="form__label">Your departing time?</label>
						<input id="date" class="form__input form__date" type="date" name="input" onfocus="this.value=''">
						<input id="submit" class="form__submit" type="submit" name="" value="submit"
							onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
					</form>
				</div>
				<div class="col-xl-5 weather">
					<p class="results">You are going to: <span id="city"></span></p>
					<p class="results">From: <span id="city2"></span></p>
					<p class="results">Departing on: <span id="depart"></span></p>
					<p class="results">To trip <span id="days"></span> days left</p>
					<p class="results">Weather will be: <span id="temp"></span>&#176;C</p>
					<p class="results">Description: <span id="description"></span><img id="cloud" src="" alt=""></p>
					<button id="print" onclick="window.print();" class="results__print">Print</button>
					<button id="save" class="results__save">Save</button>
					<button id="clear" class="results__clear">Clear</button>
				</div>
				<div class="col-xl-4">
					<img src="" alt="" id="cityimg" class="city">
				</div>
			</div>
			<h2 class="main__title">Your saved trips </h2>
			<div class="weather__cards">
				
			</div>
			<button id="clear__saved" class="results__clear">Clear all</button>
		</div>
	</main>





	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
	
	<script>

	</script>
	
</body>

</html>