.form{
  &__label{
    display: block;
    margin: 10px 10px 10px 20px;
    color:white;
    font-style: italic;
  }
  
  &__input{
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid blueviolet;
    border-radius: 10px;
    outline: none;
    padding: 0 20px;
  }
  
  &__date {
    display: inline-block;
    width: 70%;
  }
  
  &__submit{
    height: 40px;
    width: 28%;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    background: darkorange;
    border: 1px solid blueviolet;
    box-shadow: 0 5px #d67e0b;
    &:hover{
      background-color: #f8a63b;
    }
    &:active {
      background-color: #f8a63b;
      box-shadow: 0 2px #d67e0b;
      transform: translateY(4px);
    }
  }
}
